body {
  background-color: rgb(11, 126, 61);
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.5fr 20fr;
  background-color: rgb(0, 172, 240);
}

.side-bar {
  height: 100vh;
  background-color: black;
  grid-column-start: 1;
  grid-row: span 2;
  position: sticky;
  top: 0;
}
.epic-logo-box {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em;
}

.epic-games-logo {
  width: 3rem;
  height: 4rem;
}

.side-bar-links {
  background-color: rgb(106, 106, 106);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  color: rgb(198, 198, 198);
}

.store,
.library,
.unreal-engine {
  text-decoration: none;
  color: rgb(198, 198, 198);
  margin-left: 1rem;
}

/* search bar */
.search-bar {
  width: 100%;
  height: 5rem;
  background-color: black;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr 1fr;
  position: sticky;
  top: 0;
  grid-column-start: 2;
}

.search-div {
  display: grid;
  grid-template-columns: 1fr 10fr;
  padding-bottom: 4.5rem;
  padding-top: 2rem;
  padding-left: 0;
  gap: 0.5rem;
}

.search-button {
  border-radius: 20px;
}

/* Search input */
.search {
  border-radius: 20px;
}

.search-links-div {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.2rem;
  padding-bottom: 2rem;
}

/* Search links */
.Discover,
.Browse,
.News,
.Wishlist,
.Cart {
  text-decoration: none;
  color: rgb(198, 198, 198);
  grid-row-start: 2;
}

.Wishlist {
  grid-column-start: 7;
}

.Cart {
  grid-column-start: 8;
}

/* friends-profile-div */
.friends-profile-div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  padding-right: 2rem;
}

.straight-line {
  font-size: 2rem;
  color: rgb(177, 177, 177);
}

.friends-box {
  background-color: gray;
  color: azure;
  border-radius: 3rem;
  font-size: 1.3rem;
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.friends-icon {
  grid-column-start: 2;
  padding-top: 0.5rem;
}

.profile {
  background-color: gray;
  border-radius: 3rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  font-size: 1.4rem;
  grid-column-start: 5;
  grid-column: span 2;
  height: 3rem;
  width: 3rem;
}

.profile-text {
  color: aliceblue;
  padding-top: 0.2rem;
  grid-column-start: 2;
  padding-left: 0.4rem;
  padding-top: 0.4rem;
}

/* main content */
.main-content {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  grid-column-start: 2;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 3rem;
  column-gap: 1rem;
}

.Halloween-sale {
  width: 100%;
  border-radius: 2rem;
}

.right-bar-sale {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
}

.right-bar-sale img {
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
  border-radius: 1rem;
}

.right-bar-sale a {
  text-decoration: none;
  color: aliceblue;
}

/* div-game-sale */
.div-game-sale-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  align-items: center;
  background-color: rgb(180, 180, 180);
  border-radius: 1.3rem;
  padding: 0.2rem;
}

.div-game-sale-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  align-items: center;
  background-color: rgb(180, 180, 180);
  border-radius: 1.3rem;
  padding: 0.2rem;
}
.div-game-sale-3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  align-items: center;
  background-color: rgb(180, 180, 180);
  border-radius: 1.3rem;
  padding: 0.2rem;
}
.div-game-sale-4 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  align-items: center;
  background-color: rgb(180, 180, 180);
  border-radius: 1.3rem;
  padding: 0.2rem;
}
.div-game-sale-5 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  align-items: center;
  background-color: rgb(180, 180, 180);
  border-radius: 1.3rem;
  padding: 0.2rem;
}

/* discover grid */
.discover-grid {
  background-color: rgb(0, 0, 0);
  grid-row-start: 2;
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 5fr 0.5fr 0.5fr 0.5fr;
  align-items: center;
  color: aliceblue;
  font-size: 1.35rem;
  /* place-items: center; */
}

/* discover btn */
.discover-btn {
  grid-column-start: 5;
  display: grid;
  align-items: center;
  grid-template-columns: 0.1fr 1fr;
}

.discover-grid-btn-1 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  text-align: center;
  background-color: darkgray;
  color: gainsboro;
}
.discover-grid-btn-2 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  text-align: center;
  background-color: darkgray;
  color: gainsboro;
}

.discover-img {
  width: auto;
  height: 19rem;
  border-radius: 1rem;
}

.base-game {
  color: rgb(203, 203, 203);
  font-size: 1rem;
}

.discover-game-name {
  font-weight: bolder;
  font-size: 1.2rem;
}

.discover-game-price {
  font-weight: bolder;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
}
